{% extends 'bases.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} ICFL  {% endblock title %}

{% block main-content %}

<!-- <div class="hero overlay" style="background-image: url('{% static 'imagess/bg_1.jpg' %}');">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12">

                <div class="col-lg-5 ml-auto">

                    <h2 class="text-white">Admin DashBoard</h2>
                    <p></p>          

                </div>
            </div>
        </div>
    </div>
</div> -->




<!-- Display team  -->
<div class="site-section bg-light">
    <div class="container bg-light ">


        <div class="row">

            <div class="col-12 title-section mt-2">
                <a href="{% url 'FootBall:admin_dash' %}" class="heading">Admin Dashboard</a>
            </div>




            <div class="navbar col-md-12  d-flex justify-content-center mb-4 bg-dark ">


              
                <a href="{% url 'FootBall:admin_dash' %}" class="m-3 "> <span>Dashboard</span> </a>
                
                <a href="{% url 'FootBall:add_team' %}" class="m-3 ">Add Team </a>
                <a href="" class="m-3 "> <span>News</span> </a>
                <a href="" class="m-3 "> <span>League</span> </a>

              




            </div>

            <div class="container-fluid ">
               

                <div class="row clearfix">
                    <div class="col-lg-12  ">
                        <div class="">
                            <div class="card-body">
                                <div class="header text-center bg-light">
                                </div>


                                <div class="widget-next-match">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Team</th>
                                                <th>CN</th>
                                                <th>BN</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Price</th>
                                                <th>Logo</th>
                                                <th>Edit</th>


                                              


                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for team in teams %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><strong class="text-white">{{ team.team_name }}</strong></td>
                                                <td>{{ team.coach_name }}</td>
                                                <td>{{ team.batch_name }}</td>
                                                <td>{{ team.phone }}</td>
                                                <td>{{ team.email }}</td>
                                                <td>{{ team.price }}</td>
                                                <td> 
                                                  <img src="{{ team.team_logo.url }}" alt="" class="" height="20" width="20">

                                                  
                                                </td>
                                                <td>
                                                    <a href="{% url 'FootBall:update_team' pk=team.pk %}" class="btn btn-info btn-sm">Upadte</a>
                                          
                                                    <a href="{% url 'FootBall:delete_team' del_id=team.id %}"  class="btn btn-primary btn-sm ">Delete </a>
                                                    <!-- data-target="#delteam"  -->

                                             



                                                </td>

                                                


                                            </tr>
                                            {% endfor %}
                                         

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>













        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(".fordel").click(function (e) {
            e.preventDefault();
            // Hide all sections
            $(".section").addClass("d-none");
            // Show the target section
            var target = $(this).data("target");
            $(target).removeClass("d-none");
        });
    });
</script>

{% endblock main-content %}