{% extends 'bases.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} ICFL {% endblock title %}

{% block main-content %}






<!-- Display team  -->
<div class="site-section bg-light">
    <div class="container bg-light ">


        <div class="row">

            <div class="col-12 title-section mt-2">
                <a href="{% url 'FootBall:admin_dash' %}" class="heading">Admin Dashboard</a>
            </div>




            <div class="navbar col-md-12  d-flex justify-content-center mb-4 bg-dark ">


              
                <a href="{% url 'FootBall:admin_dash' %}" class="m-3 "> <span>Dashboard</span> </a>
                
        
            </div>

            <div class="container-fluid ">
               

                <div class="row clearfix">
                    <div class="col-lg-12  ">
                        <div class="">
                            <div class="card-body">
                                <div class="header text-center bg-light">
                                </div>


                                <div class="widget-next-match">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Team</th>
                                                <th>buyer</th>
                                                <th>account_number</th>
                                                <th>amount</th>
                                                <th>payment_date</th>

                                                


        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for team in Payment %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><strong class="text-white">{{ team.team }}</strong></td>
                                                <td>{{ team.buyer }}</td>
                                                <td>{{ team.account_number }}</td>
                                                <td>{{ team.amount }}</td>
                                                <td>{{ team.payment_date }}</td>
                                              
                                               

                                                


                                            </tr>
                                            {% endfor %}
                                         

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>













        </div>
    </div>
</div>




{% endblock main-content %}