{% extends 'bases.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} ICFL {% endblock title %}

{% block main-content %}


<div class="site-section bg-light">
    <div class="container bg-light ">


        <div class="row">

            <div class="col-12 title-section mt-2">
                <a href="{% url 'FootBall:user_dashboard' %}" class="heading">User Dashboard</a>


            </div>




            <div class="navbar col-md-12  d-flex justify-content-center mb-4 bg-dark ">


              




            </div>





            <div class="container-fluid ">
                <div class="clearfix d-flex m-3 p-2 justify-content-center ">







                </div>




                <div class="row clearfix">
                    <div class="col-lg-6">
                        <div class="">
                            <div class="card-body">
                                <div class="header text-center bg-light">
                                    <!-- <a href="">Point Table</a> -->
                                </div>

                                {% if team %}
                                <h5>Team Name: {{ team.team_name }} <br> <span>Manager: {{user}}</span> </h5>
                                <img src="{{ team.team_logo.url }}" alt="Team Logo" width="200">
                                <p><strong>Coach Name:</strong> {{ team.coach_name }}</p>
                                <p><strong>Batch:</strong> {{ team.batch_name }}</p>
                                <p><strong>Phone:</strong> {{ team.phone }}</p>
                                <p><strong>Email:</strong> {{ team.email }}</p>
                                <p><strong>Price:</strong> {{ team.price }} Tk</p>
                                <a href="{% url 'FootBall:update_team_user' pk=team.pk %}" class="btn btn-primary btn-sm">update Team</a>

                               

                                {% else %}
                                <h1>No Purchased Team</h1>
                                <p>You haven't purchased any team yet, or the purchase has not been accepted by the
                                    admin.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    
                            <h3>List of Players</h3>
                            <ul>
                                {% for player in players %}
                                    <li>{{ player.player_name }}({{player.player_jersey_no}}) - Position: {{ player.play_position }}</li>  <!-- Customize as per Player model fields -->
                                {% endfor %}
                            </ul>
                    

                    </div>



                </div>
            </div>













        </div>
    </div>
</div>


{% endblock main-content %}